.Button a {
    text-decoration: none;
}

.Button .bi {
    display: flex;
    align-items: center;
    height: fit-content;
}

.Button .react-tooltip {
    z-index: 9999 !important;
    border-radius: 6px;
    background-color: rgba(67, 77, 91, 0.92);
}

.Button .exampleTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Button .exampleTitle:hover .anchorLink {
    visibility: visible;
}

.Button .anchorLink {
    display: flex;
    align-items: center;
    padding: 4px;
    height: fit-content;
    border: 1px solid #e5eaf2;
    border-radius: 8px;
    color: #434d5b;
    background-color: #f0f7ff;
    visibility: hidden;
}

.Button .anchorLink:hover {
    border: 1px solid #c2e0ff;
    color: #007fff;
    background-color: rgba(194, 224, 255, 0.4);
}

.Button .anchorLink .bi-link::before {
    font-size: 1rem;
    font-weight: 600 !important;
}

.Button .codeSample {
    margin-bottom: 50px;
}

.Button .preview {
    display: flex;
    justify-content: center;
    gap: 25px;
    border: 1px solid #E5EAF2;
    border-radius: 12px 12px 0 0;
    padding: 24px;
}

.Button .optionsContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5EAF2;
    border-top: none;
    padding: 4px 8px;
}

.Button .optionsContainer .codeTypes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Button .optionsContainer .hideCodeTypes {
    opacity: 0;
    visibility: hidden;
}

.Button .optionsContainer .showCodeTypes {
    opacity: 1;
    visibility: visible;
}

.Button .codeTypes .jsCode,
.Button .codeTypes .tsCode {
    display: flex;
    height: fit-content;
    border: 1px solid #E5EAF2;
    padding: 1px 9px;
    border-radius: 15px;
    font-size: 0.8125rem;
}

.Button .codeTypes .jsCode:hover,
.Button .codeTypes .tsCode:hover {
    background-color: rgb(240, 243, 248);
}

.Button .codeTypes .jsCode.selected,
.Button .codeTypes .tsCode.selected {
    border-color: #007FFF;
    background-color: rgba(0, 127, 255, 0.08);
    color: #007FFF;
}

.Button .codeTypes .jsCode.selected:hover,
.Button .codeTypes .tsCode.selected:hover {
    background-color: rgb(194, 224, 255);
}

.Button .options {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Button .options .collapsingCode {
    padding: 3px 8px 5px;
    border-radius: 999px;
    border: 1px solid rgba(194, 224, 255, 0.6);
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(0, 127, 255);
}

.Button .options .collapsingCode:hover {
    background-color: rgb(240, 247, 255);
    border-color: rgb(153, 204, 243);
}

.Button .options .copyToClipboard,
.Button .options .copyOptionsDropdown {
    padding: 8px;
    border-radius: 12px;
}

.Button .options .copyToClipboard:hover,
.Button .options .copyOptionsDropdown:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.Button .options .copyOptionsDropdown::after {
    content: none;
}

.Button .options .dropdown-menu {
    width: max-content;
    border-radius: 12px;
    border: 1px solid rgb(218, 226, 237);
    padding: 0;
    overflow-y: auto;
}

.Button .options .dropdown-menu li {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.Button .options .dropdown-menu li a,
.Button .options .dropdown-menu li button {
    color: rgb(67, 77, 91) !important;
}

.Button .options .dropdown-menu li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.Button .toastMessage {
    position: fixed;
    left: 24px;
    bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button .toastChild {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 16px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    font-size: 0.875rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.Button .codeEditor {
    border: 1px solid #E5EAF2;
    border-top: none;
    border-radius: 0px 0px 12px 12px;
    padding: 24px;
    overflow: auto;
    background-color: #000;
    color: #fff;
    position: relative;
}

.Button .codeEditor:hover {
    box-shadow: 0 0 0 3px #66B2FF;
}

.Button .codeEditor .copyCodeToClipboard {
    position: absolute;
    top: 8px;
    padding: 8px;
    border-radius: 6px;
    color: #FFF;
    right: 8px;
}

.Button .codeEditor .copyCodeToClipboard:hover {
    background-color: #3B4A59;
}

.Button .codeEditor .react-tooltip {
    background-color: transparent !important;
}

.Button .editor {
    pointer-events: none;
}

.Button .editor .monaco-editor,
.Button .editor .monaco-editor-background,
.Button .editor .view-line {
    background-color: black;
}

.Button .editor .margin,
.Button .editor .minimap.slider-mouseover,
.Button .editor .decorationsOverviewRuler {
    display: none !important;
}

.Button .editor .monaco-scrollable-element {
    left: 0 !important;
}

@media (min-width: 0px) and (max-width: 1024px) {
    .Button {
        width: 100%;
        padding: 40px 40px 0px;
    }
}

@media (min-width: 1025px) {
    .Button {
        width: calc(100% - 300px);
        padding: 40px 100px 0px;
    }

    .Button.dirLeft {
        margin-left: auto;
    }

    .Button.dirRight {
        margin-right: auto;
    }
}