@media (min-width: 1025px) {
    .Switch {
        width: calc(100% - 300px);
        padding: 40px 100px 0px;
    }

    html[dir="ltr"] .Switch {
        margin-left: auto;
    }
    
    html[dir="rtl"] .Switch {
        margin-right: auto;
    }
}