button {
    border: none;
    background: transparent;
}

.Navbar .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff !important;
    border-bottom: 1px solid #E5EAF2;
    padding: 12px 0px;
    z-index: 2;
}

.Navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar .logo img {
    width: 30px;
}

.Navbar .versions>p {
    color: #6B7A90;
    margin-left: 8px;
    margin-bottom: 0;
    font-size: 0.6875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .08rem;
}

.Navbar .versions .dropdown {
    padding: 0px 10px;
}

.Navbar .versions .navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007FFF;
    font-size: 0.8125rem;
    font-weight: 600;
    position: relative;
}

.Navbar .versions .navButtons .bi {
    position: absolute;
    right: -6px;
    top: 8px;
    transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}

.Navbar .versions .navButtons:hover .bi {
    right: -8px;
}

.Navbar .versions .bi::before {
    display: flex;
    font-size: 0.5rem;
}

.Navbar .navOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar .lang {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.Navbar .navbarSearch {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid rgb(218, 226, 237);
    border-radius: 10px;
    background-color: rgb(243, 246, 249);
    box-shadow: rgb(229, 234, 242) 0px 1px 1px inset, rgba(229, 234, 242, 0.6) 0px 1px 0.5px;
}

.Navbar .navbarSearch:hover {
    background-color: rgb(229, 234, 242);
    border-color: rgb(199, 208, 221);
}

.Navbar .searchKey {
    background-color: white;
    border: 1px solid rgb(218, 226, 237);
    border-radius: 10px;
    padding: 0px 5px;
}

.Navbar .navIcons {
    display: flex;
    gap: 10px;
}

.Navbar .burgerMenu .navButtons,
.Navbar .navIcons .navButtons,
.sidebar .settings .navButtons {
    padding: 7px 7px;
    border: 1px solid rgb(218, 226, 237);
    border-radius: 12px;
}

.Navbar .burgerMenu .navButtons:hover,
.Navbar .navIcons .navButtons:hover,
.sidebar .settings .navButtons:hover {
    background-color: rgb(229, 234, 242);
}

.Navbar .versions .navButtons::after,
.Navbar .navIcons .navButtons::after {
    content: none;
}

.Navbar .dropdown-menu {
    display: block;
    visibility: hidden;
    width: 300px;
    padding: 8px 0px;
    border-radius: 12px;
    overflow-y: auto;
    opacity: 0;
    z-index: -5;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1),
        visibility 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.Navbar.dirLeft .versions .dropdown-menu {
    transform: translate(-20px, -20px);
}

.Navbar.dirLeft .navIcons .dropdown-menu {
    transform: translate(20px, -20px);
    right: 0;
    left: auto;
}

.Navbar.dirRight .versions .dropdown-menu {
    transform: translate(20px, -20px);
    right: 0;
}

.Navbar.dirRight .navIcons .dropdown-menu {
    transform: translate(-20px, -20px);
    left: 0;
}

.Navbar .dropdown-menu.show {
    opacity: 1;
    z-index: auto;
    visibility: visible;
    transform: translate(0px, 5px) !important;
}

.Navbar .dropdown-menu li {
    padding: 8px 16px;
}

.Navbar .dropdown-menu hr {
    margin: 2px;
}

.Navbar .bi {
    color: #007FFF;
}

.Navbar .bi::before {
    display: flex;
    font-size: 1.2rem;
}

.Navbar .modal {
    background-color: rgba(107, 122, 144, 0.2);
    /* backdrop-filter: blur(2px) brightness(200%); */
}

.Navbar .modal.show {
    display: block !important;
}

.Navbar .modal .modal-content {
    border: none;
}

.Navbar .modal .modal-header input {
    width: 100%;
    padding: 0px 15px;
    border: none;
}

.Navbar .modal .modal-header input:focus-visible {
    outline: none;
}

.Navbar .modal input[type="search"]::-webkit-search-decoration,
.Navbar .modal input[type="search"]::-webkit-search-cancel-button,
.Navbar .modal input[type="search"]::-webkit-search-results-button,
.Navbar .modal input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.Navbar .modal .btn-close {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    background-color: rgb(243, 246, 249);
    border: 1px solid rgb(199, 208, 221);
    padding: 2px 7px !important;
    opacity: 1;
    --bs-btn-close-bg: none;
}

.Navbar .modal .btn-close:focus {
    box-shadow: none;
}

.Navbar .modal .btn-close::before {
    content: "esc";
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
    font-weight: 600;
    color: rgb(67, 77, 91);
}

.Navbar .modal .modal-footer .search {
    font-size: .75rem;
    color: #6b7a90;
}

.Navbar .modal .cojectLogo img {
    width: 15px;
}

.Navbar .modal .cojectSlogan {
    color: #007FFF;
    font-weight: 600;
}

.Navbar .showSidebarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    backdrop-filter: brightness(60%);
    background-color: rgba(107, 122, 144, 0.2);
}

.Navbar .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1002;
}

.Navbar .sidebar .sideInner {
    position: fixed;
    height: 100vh;
    padding: 20px 0;
    opacity: 0;
    background-color: #fff;
    width: 300px;
    transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}

.Navbar.dirLeft .sidebar .sideInner {
    right: 0;
    transform: translateX(100%);
    border-radius: 10px 0px 0px 10px;
}

.Navbar.dirRight .sidebar .sideInner {
    left: 0;
    transform: translateX(-100%);
    border-radius: 0px 10px 10px 0px;
}

.Navbar .sidebar.showSidebar .sideInner {
    transform: translateX(0%);
    opacity: 1;
}

.Navbar .sidebar .settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 15px;
    border-bottom: 1px solid #E5EAF2;
}

.Navbar .sidebar .content {
    padding: 0 16px;
}

.Navbar .sidebar .content h6 {
    font-size: 0.9rem;
    margin-top: 20px;
    color: rgb(67, 77, 91);
}

.Navbar .sidebar .direction {
    display: flex;
    width: 100%;
}

.Navbar .sidebar .direction .navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50%;
    padding: 15px;
    color: #007FFF;
    font-weight: 600;
    border: 1px solid rgb(218, 226, 237);
}

.Navbar .sidebar .direction .navButtons:hover {
    background-color: rgb(240, 243, 248);
}

.Navbar .sidebar .direction .navButtons.selected {
    border-color: #007FFF;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(0, 127, 255, 0.08);
    ;
}

.Navbar .sidebar .direction .navButtons.selected:hover {
    background-color: rgb(194, 224, 255);
}

.Navbar .sidebar .direction .navButtons.notSelected {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 1px solid transparent;
}

@media (min-width: 0px) and (max-width:1024px) {
    .Navbar .burgerMenu {
        display: block;
    }

    .Navbar.dirLeft .logo {
        margin-left: 10px;
    }

    .Navbar.dirRight .logo {
        margin-right: 10px;
    }

    .Navbar .versions,
    .Navbar .searchPlaceHolder,
    .Navbar .searchKey {
        display: none;
    }

    .Navbar .navbarSearch {
        padding: 7px 7px;
    }
}

@media (min-width: 1025px) {
    .Navbar .burgerMenu {
        display: none;
    }

    .Navbar.dirLeft .logo {
        padding-right: 12px;
        margin-right: 4px;
        border-right: 1px solid #E5EAF2;
    }

    .Navbar.dirRight .logo {
        padding-left: 12px;
        margin-left: 4px;
        border-left: 1px solid #E5EAF2;
    }

    .Navbar .versions,
    .Navbar .searchPlaceHolder,
    .Navbar .searchKey {
        display: block;
    }

    .Navbar .navbarSearch {
        padding: 5px 7px;
    }
}